<section
  class="body-font bg-image1 bg-primary w-full h-auto md:py-20 py-14 md:px-20 px-4"
>
  <div class="md:w-2/4">
    <p class="text-3xl md:text-[4vw] leading-[1] text-white font-semibold">
      A worthy companion for your
      <span class="text-secondary">humble hustle</span>
    </p>
    <p class="text-white md:text-lg xl:text-xl pt-4">
      We believe in making online selling simple, accessible, and impactful. Our
      features are tailored to meet you where you are and help you achieve your
      goals.
    </p>
  </div>
  <div class="md:flex md:space-x-12">
    <div
      class="mt-16 md:mb-0 relative overflow-hidden -mb-7 bg-white rounded-3xl md:w-1/3 h-auto py-10 px-8"
    >
      <p class="text-2xl md:text-3xl font-medium">Your Store, Your Way</p>
      <p class="text-sm md:text-lg mt-2">
        Enjoy complete control over how your store looks, functions and
        operates. With easy customization options, your business stands out
        effortlessly.
      </p>
      <a routerLink="/pending">
        <button class="mt-10 flex items-center gap-2">
          Learn More
          <div
            class="w-5 h-5 flex bg-gray-200 rounded-full justify-center items-center"
          >
            <app-forward-icon></app-forward-icon>
          </div>
        </button>
      </a>
      <img
        class="absolute right-0 bottom-0"
        src="../../assets/shop.png"
        alt="businesses"
        srcset=""
      />
    </div>
    <div
      class="mt-16 md:mb-0 relative overflow-hidden -mb-7 bg-white rounded-3xl md:w-1/3 h-auto py-10 px-8"
    >
      <p class="text-2xl md:text-3xl font-medium">Tools that work for you!</p>
      <p class="text-sm md:text-lg mt-2">
        From product listings to order management, we streamline your processes
        so you can focus on delivering the best to your customers.
      </p>
      <a routerLink="/pending">
        <button class="mt-10 flex items-center gap-2">
          Learn More
          <div
            class="w-5 h-5 flex bg-gray-200 rounded-full justify-center items-center"
          >
            <app-forward-icon></app-forward-icon>
          </div>
        </button>
      </a>
      <img
        class="absolute right-0 bottom-0"
        src="../../assets/presentation.png"
        alt="businesses"
        srcset=""
      />
    </div>
    <div
      class="mt-16 bg-white relative overflow-hidden rounded-3xl md:w-1/3 h-auto py-10 px-8"
    >
      <p class="text-2xl md:text-3xl font-medium">Built for success</p>
      <p class="text-sm md:text-lg mt-2">
        Our platform is designed for growth, whether you're launching today or
        scaling for tomorrow. Start small, go big - Reetaila is here for the
        journey.
      </p>
      <a routerLink="/pending">
        <button class="mt-10 flex items-center gap-2">
          Learn More
          <div
            class="w-5 h-5 flex bg-gray-200 rounded-full justify-center items-center"
          >
            <app-forward-icon></app-forward-icon>
          </div>
        </button>
      </a>
      <img
        class="absolute right-0 bottom-0"
        src="../../assets/shuttle.png"
        alt="businesses"
        srcset=""
      />
    </div>
  </div>
</section>
