<section class="body-font w-full h-auto px-4 pt-20">
  <div class="w-full flex md:mb-28 mb-5">
    <div class="md:w-3/12"></div>
    <div class="md:w-6/12 text-center">
      <p class="text-3xl md:text-4xl text-primary font-semibold">
        Get tips and insights on businesses and so much more
      </p>
      <p class="text-center text-base pt-4 mb-6">
        Subscribe to our bi-monthly newsletter to keep up to date with the
        latest tips and expert insights on business management, SEOs, financial
        advice, etc.
      </p>
      <form>
        <input class="md:w-11/12 w-full px-3 py-2 border border-gray-400 md:text-sm text-xs rounded-lg" type="text"
          placeholder="Enter your email and we’ll add you to our mailing list!" />
      </form>
      <div class="md:flex items-center justify-center">
        <a routerLink="/solutions" class="mr-6 mb-3">
          <button class="border-0 w-full text-center mt-5 py-3 px-5 rounded-lg bg-primary text-white text-sm">
            Submit
          </button>
        </a>
      </div>
    </div>
    <div class="md:w-3/12"></div>
  </div>
</section>
