<footer
  class="body-font bg-tertiary w-full h-auto sm:px-20 px-4 sm:pt-16 pt-16 pb-7"
>
  <div class="flex flex-wrap md:flex-nowrap justify-between mb-10">
    <div class="w-1/2 md:w-1/6 text-default mb-0 md:mb-6">
      <p class="text-primary text-lg font-bold pb-4">Company</p>
      <a routerLink="/pending"><p class="pb-2">About Us</p></a>
      <a routerLink="/pending"><p class="pb-2">Careers</p></a>
      <a routerLink="/pending"><p class="pb-2">Press</p></a>
      <a routerLink="/pending"><p class="pb-2">Pricing</p></a>
    </div>
    <div class="w-1/2 md:w-1/6 text-default mb-0 md:mb-6">
      <p class="text-primary text-lg font-bold pb-4">Solutions</p>
      <a routerLink="/pending"><p class="pb-2">Analytic Tools</p></a>
      <a routerLink="/pending"><p class="pb-2">Business Website</p></a>
      <a routerLink="/pending"><p class="pb-2">Inventory Management</p></a>
      <a routerLink="/pending"><p class="pb-2">Marketplace</p></a>
      <a routerLink="/pending"><p class="pb-2">Online Payments</p></a>
    </div>
    <div class="w-1/2 md:w-1/6 text-default sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Help</p>
      <a routerLink="/pending"><p class="pb-2">Contact Us</p></a>
      <a routerLink="/pending"><p class="pb-2">FAQs</p></a>
      <a routerLink="/pending"><p class="pb-2">Live Chat</p></a>
      <a routerLink="/pending"><p class="pb-2">Payment Errors</p></a>
    </div>
    <div class="w-1/2 md:w-1/6 text-default sm:mb-0 mb-6">
      <p class="text-primary text-lg font-bold pb-4">Learn</p>
      <a routerLink="/pending"><p class="pb-2">Blog</p></a>
      <a routerLink="/pending"><p class="pb-2">Full Usage Guide</p></a>
      <a routerLink="/pending"><p class="pb-2">Quick Guides</p></a>
      <a routerLink="/pending"><p class="pb-2">Videos</p></a>
    </div>
    <div class="w-1/2 text-default md:w-1/6">
      <p class="text-primary text-lg font-bold pb-4">Legal</p>
      <a routerLink="/pending"><p class="pb-2">Cookie Policy</p></a>
      <a routerLink="/pending"><p class="pb-2">Data Agreement</p></a>
      <a routerLink="/pending"><p class="pb-2">Privacy Policy</p></a>
      <a routerLink="/pending"><p class="pb-2">Security Document</p></a>
      <a routerLink="/pending"><p class="pb-2">Terms of Use</p></a>
    </div>
    <div class="w-1/2 text-default md:w-1/6">
      <p class="text-primary text-lg font-bold pb-4">Business</p>
      <a routerLink="/pending"><p class="pb-2">Create my Online Store</p></a>
      <a routerLink="/pending"><p class="pb-2">Log In</p></a>
    </div>
  </div>
  <hr />
  <div class="md:flex justify-between text-default mt-10 mb-10">
    <div class="w-full md:w-[30%]">
      <div class="flex items-center justify-between px-2 md:px-0">
        <img
          src="../../assets/reetaila_logo.png"
          class="w-32"
          alt="reetaila logo"
        />
        <p class="text-gray-200 text-3xl font-extralight pt-1">&#x7C;</p>
        <img
          src="../../assets/plugg.png"
          class="w-44 pt-2"
          alt="plugg resources logo"
        />
      </div>
      <p class="text-base mt-2">
        Reetaila is a Plugg Resources company registered under the Federal
        Government of Nigeria.
      </p>
    </div>
    <div
      class="sm:w-auto w-full flex sm:flex-nowrap flex-wrap items-center sm:justify-between text-default sm:space-x-7 sm:mt-0 mt-7"
    >
      <a routerLink="/pending"
        ><p class="sm:pb-0 pb-4 pr-5">X (Formerly Twitter)</p></a
      >
      <a routerLink="/pending"><p class="sm:pb-0 pb-4 pr-5">Facebook</p></a>
      <a routerLink="/pending"><p class="sm:pb-0 pb-4">Instagram</p></a>
      <a routerLink="/pending"><p class="pr-5">LinkedIn</p></a>
      <a routerLink="/pending"><p>YouTube</p></a>
    </div>
  </div>
  <hr />
  <p class="text-sm mt-6 text-gray-400">
    &copy; {{ currentYear }} Plugg Resources and Technologies. All Rights
    Reserved.
  </p>
</footer>
