<section class="body-font w-full h-auto md:px-20 px-4 md:py-16 pt-20 pb-6">
  <div class="w-full bg-image3 flex mb-10 rounded-2xl">
    <div class="md:w-1/2 p-10">
      <p class="text-3xl md:text-4xl text-white font-semibold">
        Open a Reetaila store and you too can
        <span class="text-secondary">start selling online today!</span>
      </p>
      <p class="text-gray-100 text-sm md:text-lg pt-4 mb-6 text-justify">
        The best way to reach your customers all over the world, manage your
        store and products, view sales summary and much more.
      </p>
      <a routerLink="/waitlist">
        <button
          class="flex justify-center items-center gap-2 border-0 w-1.5/5 mt-5 py-4 px-6 rounded-lg bg-secondary text-white md:text-sm text-xs"
        >
          Join the Waitlist
          <app-forward-icon></app-forward-icon>
        </button>
      </a>
    </div>
    <div
      class="md:w-1/2 relative overflow-x-clip flex items-center justify-center"
    >
      <img
        src="../../assets/lady image.png"
        class="z-10 absolute w-3/4 -mt-8"
        alt="smiling lady"
      />
    </div>
  </div>
  <div class="absolute -mt-10 z-10 left-0 right-0 md:h-20 h-0 bg-white"></div>
</section>
